/*
Error: Undefined mixin 'background-size'.
        on line 4 of /Users/contact/Sites/projecten/web/fitnescentrumnoord/www/sass/posts.scss, in `background-size'
        from line 4 of /Users/contact/Sites/projecten/web/fitnescentrumnoord/www/sass/posts.scss

1: .post__header {
2:   background-position: center center;
3:   background-repeat: no-repeat;
4:   @include background-size(cover);
5:   height: 330px;
6:   padding: 30px;
7:   position: relative; 
8: 
9:   &:before {

Backtrace:
/Users/contact/Sites/projecten/web/fitnescentrumnoord/www/sass/posts.scss:4:in `background-size'
/Users/contact/Sites/projecten/web/fitnescentrumnoord/www/sass/posts.scss:4
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:98:in `with_mixin'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:23:in `block in render_with_sourcemap'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:22:in `render_with_sourcemap'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.5/lib/listen/listener.rb:159:in `call'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.5/lib/listen/listener.rb:159:in `block in _wait_for_changes'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.5/lib/listen/listener.rb:148:in `loop'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.5/lib/listen/listener.rb:148:in `_wait_for_changes'
/Users/contact/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.5/lib/listen/listener.rb:41:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'background-size'.\A         on line 4 of /Users/contact/Sites/projecten/web/fitnescentrumnoord/www/sass/posts.scss, in `background-size'\A         from line 4 of /Users/contact/Sites/projecten/web/fitnescentrumnoord/www/sass/posts.scss\A \A 1: .post__header {\A 2:   background-position: center center;\A 3:   background-repeat: no-repeat;\A 4:   @include background-size(cover);\A 5:   height: 330px;\A 6:   padding: 30px;\A 7:   position: relative; \A 8: \A 9:   &:before {"; }
