/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/incl/defaults.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/incl/defaults.scss */
body, html {
  height: 100%;
}

/* line 8, ../sass/incl/defaults.scss */
body * {
  font-family: 'Open Sans', sans-serif;
}

/* line 12, ../sass/incl/defaults.scss */
a {
  color: #5BA4DC;
}
/* line 14, ../sass/incl/defaults.scss */
a:hover {
  color: #79c2fa;
}

/* line 19, ../sass/incl/defaults.scss */
.colls {
  overflow: hidden;
}

/* line 22, ../sass/incl/defaults.scss */
.coll {
  float: left;
}

/* line 1, ../sass/layout.scss */
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 105px;
  background: #172E48;
}
/* line 5, ../sass/layout.scss */
header * {
  color: #FFF;
}
/* line 9, ../sass/layout.scss */
header nav {
  position: fixed;
  background: rgba(23, 46, 72, 0.8);
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  z-index: 30;
  text-align: center;
  display: none;
}
/* line 16, ../sass/layout.scss */
header nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
/* line 22, ../sass/layout.scss */
header nav a {
  padding: 20px 0;
  display: block;
  font-size: 200%;
  text-decoration: none;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 29, ../sass/layout.scss */
header nav a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #172E48;
}
/* line 35, ../sass/layout.scss */
header .logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 300%;
  text-transform: uppercase;
  font-size: 40px;
  left: 20px;
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
}
/* line 41, ../sass/layout.scss */
header .logo * {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
/* line 44, ../sass/layout.scss */
header .logo strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
/* line 49, ../sass/layout.scss */
header .menu__btn {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 5px 15px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  z-index: 31;
  font-size: 150%;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}
/* line 58, ../sass/layout.scss */
header .menu__btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
}
/* line 63, ../sass/layout.scss */
header .menu__btn span.hamb_icon {
  width: 30px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: 6px;
}
/* line 68, ../sass/layout.scss */
header .menu__btn span.hamb_icon span {
  height: 3px;
  background: #FFF;
  margin-bottom: 5px;
  display: block;
}

/* line 76, ../sass/layout.scss */
.container {
  padding-top: 105px;
  max-width: 1200px;
  min-height: 100%;
}

/* line 1, ../sass/home.scss */
.homepage__panel {
  position: absolute;
  top: 105px;
  left: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  min-height: 700px;
}
/* line 6, ../sass/home.scss */
.homepage__panel .rows {
  height: 100%;
}
/* line 9, ../sass/home.scss */
.homepage__panel .colls {
  height: 100%;
}
/* line 12, ../sass/home.scss */
.homepage__panel .coll {
  height: 100%;
}
/* line 15, ../sass/home.scss */
.homepage__panel .coll.left {
  width: 60%;
}
/* line 18, ../sass/home.scss */
.homepage__panel .coll.left .colls {
  height: 40%;
}
/* line 22, ../sass/home.scss */
.homepage__panel .coll.right {
  width: 40%;
}
/* line 26, ../sass/home.scss */
.homepage__panel .highlight__1, .homepage__panel .highlight__2 {
  height: 50%;
}
/* line 30, ../sass/home.scss */
.homepage__panel .etalage {
  height: 60%;
}

/*# sourceMappingURL=screen.css.map */
