/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/incl/defaults.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/incl/defaults.scss */
body, html {
  height: 100%;
}

/* line 8, ../sass/incl/defaults.scss */
body * {
  font-family: 'Open Sans', sans-serif;
}

/* line 12, ../sass/incl/defaults.scss */
a {
  color: #5BA4DC;
}
/* line 14, ../sass/incl/defaults.scss */
a:hover {
  color: #79c2fa;
}

/* line 18, ../sass/incl/defaults.scss */
h1, h2, h3, h4, h5 {
  padding-bottom: 20px;
}

/* line 22, ../sass/incl/defaults.scss */
.colls {
  overflow: hidden;
}

/* line 25, ../sass/incl/defaults.scss */
.coll {
  float: left;
}

/* line 28, ../sass/incl/defaults.scss */
p {
  line-height: 1.5em;
  padding-bottom: 15px;
}

/* line 32, ../sass/incl/defaults.scss */
.center {
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
}

/* line 38, ../sass/incl/defaults.scss */
.btn {
  display: inline-block;
  border: solid 1px #FFF;
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 0 20px;
  background: #172E48;
  text-decoration: none;
  margin: 10px 0;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 48, ../sass/incl/defaults.scss */
.btn.light {
  background: #5BA4DC;
}
/* line 52, ../sass/incl/defaults.scss */
.btn:hover {
  background: #031a34;
  color: #FFF;
}

/* line 1, ../sass/layout.scss */
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 105px;
  background: #172E48;
}
/* line 5, ../sass/layout.scss */
header * {
  color: #FFF;
}
/* line 9, ../sass/layout.scss */
header .center {
  height: 105px;
}
/* line 13, ../sass/layout.scss */
header nav {
  position: fixed;
  background: rgba(23, 46, 72, 0.8);
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  z-index: 30;
  text-align: center;
  display: none;
}
/* line 20, ../sass/layout.scss */
header nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
/* line 26, ../sass/layout.scss */
header nav a {
  padding: 20px 0;
  display: block;
  font-size: 200%;
  text-decoration: none;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 33, ../sass/layout.scss */
header nav a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #172E48;
}
/* line 39, ../sass/layout.scss */
header .logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 300%;
  text-transform: uppercase;
  font-size: 40px;
  left: 20px;
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
}
/* line 45, ../sass/layout.scss */
header .logo * {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
/* line 48, ../sass/layout.scss */
header .logo strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
/* line 53, ../sass/layout.scss */
header .menu__btn {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 5px 15px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  z-index: 31;
  font-size: 150%;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}
/* line 62, ../sass/layout.scss */
header .menu__btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
}
/* line 67, ../sass/layout.scss */
header .menu__btn span.hamb_icon {
  width: 30px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: 6px;
}
/* line 72, ../sass/layout.scss */
header .menu__btn span.hamb_icon span {
  height: 3px;
  background: #FFF;
  margin-bottom: 5px;
  display: block;
}

/* line 80, ../sass/layout.scss */
.container {
  padding-top: 105px;
  max-width: 1400px;
  min-height: 100%;
  margin: 0 auto;
}

/* line 1, ../sass/home.scss */
.homepage__panel {
  position: absolute;
  top: 105px;
  left: 50%;
  bottom: 0;
  right: 0;
  min-height: 650px;
  max-width: 1400px;
  width: 100%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 9, ../sass/home.scss */
.homepage__panel .rows {
  height: 100%;
}
/* line 12, ../sass/home.scss */
.homepage__panel .colls {
  height: 100%;
}
/* line 15, ../sass/home.scss */
.homepage__panel .coll {
  height: 100%;
}
/* line 18, ../sass/home.scss */
.homepage__panel .coll.left {
  width: 60%;
}
/* line 21, ../sass/home.scss */
.homepage__panel .coll.left .colls {
  height: 40%;
}
/* line 25, ../sass/home.scss */
.homepage__panel .coll.left .coll {
  width: 50%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwMCUiIGN5PSIxMDAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9Ii0yMCUiIHN0b3AtY29sb3I9IiM2OGQxZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTllZTUiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(100% 100%, #68d1ff -20%, #619ee5 100%);
  background-image: -webkit-radial-gradient(100% 100%, #68d1ff -20%, #619ee5 100%);
  background-image: radial-gradient(100% 100%, #68d1ff -20%, #619ee5 100%);
  background-repeat: no-repeat;
}
/* line 31, ../sass/home.scss */
.homepage__panel .coll.left .coll * {
  color: #FFF;
}
/* line 36, ../sass/home.scss */
.homepage__panel .coll.right {
  width: 40%;
}
/* line 40, ../sass/home.scss */
.homepage__panel .highlight__1, .homepage__panel .highlight__2 {
  height: 50%;
}
/* line 44, ../sass/home.scss */
.homepage__panel .etalage {
  height: 60%;
}

/* line 49, ../sass/home.scss */
.etalage {
  background: url(../images/layout/homepage_sport.png) no-repeat 0 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
/* line 53, ../sass/home.scss */
.etalage * {
  color: #FFF;
}
/* line 56, ../sass/home.scss */
.etalage .center {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 30px;
}
/* line 60, ../sass/home.scss */
.etalage h1 {
  font-size: 280%;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
}
/* line 63, ../sass/home.scss */
.etalage h1:after {
  content: '';
  display: block;
  border-top: solid 1px #FFF;
  width: 40%;
  margin: 20px auto 0 auto;
}
/* line 70, ../sass/home.scss */
.etalage h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  font-size: 200%;
}
/* line 75, ../sass/home.scss */
.etalage p {
  font-size: 130%;
  text-align: center;
}

/*# sourceMappingURL=screen.css.map */
