/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/incl/defaults.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/incl/defaults.scss */
body, html {
  height: 100%;
}

/* line 7, ../sass/incl/defaults.scss */
body {
  background: #5BA6DA;
}
/* line 8, ../sass/incl/defaults.scss */
body * {
  font-family: 'Open Sans', sans-serif;
}

/* line 13, ../sass/incl/defaults.scss */
a {
  color: #5BA4DC;
}
/* line 15, ../sass/incl/defaults.scss */
a:hover {
  color: #79c2fa;
}

/* line 19, ../sass/incl/defaults.scss */
h1, h2, h3, h4, h5 {
  padding-bottom: 20px;
}

/* line 23, ../sass/incl/defaults.scss */
.colls {
  overflow: hidden;
}

/* line 26, ../sass/incl/defaults.scss */
.coll {
  float: left;
}
@media all and (max-width: 700px) {
  /* line 26, ../sass/incl/defaults.scss */
  .coll {
    float: none;
  }
}

/* line 32, ../sass/incl/defaults.scss */
p {
  line-height: 1.5em;
  padding-bottom: 15px;
}

/* line 36, ../sass/incl/defaults.scss */
.center {
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
}

/* line 43, ../sass/incl/defaults.scss */
.crumle_pad ul {
  padding: 15px;
  margin: 0;
}
/* line 47, ../sass/incl/defaults.scss */
.crumle_pad li {
  display: inline;
  font-size: 120%;
  text-transform: uppercase;
}
/* line 51, ../sass/incl/defaults.scss */
.crumle_pad li * {
  color: #172E48;
}
/* line 54, ../sass/incl/defaults.scss */
.crumle_pad li a {
  color: #619EE5;
  text-decoration: none;
}
/* line 59, ../sass/incl/defaults.scss */
.crumle_pad span:before {
  content: '/';
  display: inline-block;
  padding: 0 5px;
}

/* line 66, ../sass/incl/defaults.scss */
.btn {
  display: inline-block;
  border: solid 1px #FFF;
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 0 20px;
  color: #FFF;
  background: #172E48;
  text-decoration: none;
  margin: 10px 0;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 76, ../sass/incl/defaults.scss */
.btn.light {
  background: #5BA4DC;
}
/* line 80, ../sass/incl/defaults.scss */
.btn:hover {
  background: #354c66;
  color: #FFF;
}
/* line 85, ../sass/incl/defaults.scss */
.btn.play {
  width: 135px;
  height: 135px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: none;
  padding: 10px;
}
/* line 89, ../sass/incl/defaults.scss */
.btn.play span {
  width: 100%;
  height: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #FFF;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 96, ../sass/incl/defaults.scss */
.btn.play span:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translateY(-50%) translateX(-30%);
  -ms-transform: translateY(-50%) translateX(-30%);
  -webkit-transform: translateY(-50%) translateX(-30%);
  transform: translateY(-50%) translateX(-30%);
  height: 1px;
  width: 1px;
  border-left: solid 30px #172E48;
  border-top: solid 20px transparent;
  border-bottom: solid 20px transparent;
}
/* line 109, ../sass/incl/defaults.scss */
.btn.play:hover span {
  background: rgba(255, 255, 255, 0.6);
}

/* line 116, ../sass/incl/defaults.scss */
.crumle_pad {
  height: 50px;
  background: #FFF;
}

/* line 1, ../sass/layout.scss */
header.main__header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 105px;
  background: #172E48;
  z-index: 150;
}
/* line 5, ../sass/layout.scss */
header.main__header * {
  color: #FFF;
}
/* line 9, ../sass/layout.scss */
header.main__header .center {
  height: 105px;
  -moz-box-shadow: 0 0 30px rgba(0, 6, 32, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 6, 32, 0.5);
  box-shadow: 0 0 30px rgba(0, 6, 32, 0.5);
}
/* line 14, ../sass/layout.scss */
header.main__header nav {
  position: fixed;
  background: rgba(23, 46, 72, 0.9);
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  z-index: 150;
  text-align: center;
  display: none;
}
/* line 22, ../sass/layout.scss */
header.main__header.show nav {
  display: block;
}
/* line 26, ../sass/layout.scss */
header.main__header nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
/* line 32, ../sass/layout.scss */
header.main__header nav a {
  padding: 15px 0;
  display: block;
  font-size: 240%;
  text-decoration: none;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 39, ../sass/layout.scss */
header.main__header nav a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #172E48;
}
/* line 45, ../sass/layout.scss */
header.main__header .logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 300%;
  text-transform: uppercase;
  font-size: 40px;
  left: 20px;
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
}
/* line 51, ../sass/layout.scss */
header.main__header .logo * {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
/* line 54, ../sass/layout.scss */
header.main__header .logo strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
@media all and (max-width: 600px) {
  /* line 45, ../sass/layout.scss */
  header.main__header .logo {
    font-size: 140%;
    top: 20px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 66, ../sass/layout.scss */
header.main__header .menu__btn {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 5px 15px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  z-index: 200;
  font-size: 150%;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}
/* line 75, ../sass/layout.scss */
header.main__header .menu__btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
}
@media all and (max-width: 600px) {
  /* line 66, ../sass/layout.scss */
  header.main__header .menu__btn {
    top: auto;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    bottom: 10px;
  }
}
/* line 85, ../sass/layout.scss */
header.main__header .menu__btn span.hamb_icon {
  width: 30px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: 6px;
}
/* line 90, ../sass/layout.scss */
header.main__header .menu__btn span.hamb_icon span {
  height: 3px;
  background: #FFF;
  margin-bottom: 5px;
  display: block;
}
/* line 98, ../sass/layout.scss */
header.main__header.show .menu__btn span.hamb_icon {
  top: -3px;
}
/* line 100, ../sass/layout.scss */
header.main__header.show .menu__btn span.hamb_icon span.st_2 {
  display: none;
}
/* line 104, ../sass/layout.scss */
header.main__header.show .menu__btn span.hamb_icon span.st_1 {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: 7px;
}
/* line 108, ../sass/layout.scss */
header.main__header.show .menu__btn span.hamb_icon span.st_3 {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 115, ../sass/layout.scss */
.container {
  padding-top: 105px;
  max-width: 1400px;
  min-height: 100%;
  margin: 0 auto;
  background: #FFF;
  -moz-box-shadow: 0 0 30px rgba(23, 46, 72, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(23, 46, 72, 0.5);
  box-shadow: 0 0 30px rgba(23, 46, 72, 0.5);
}

/* line 1, ../sass/home.scss */
.homepage__panel {
  position: absolute;
  top: 105px;
  left: 50%;
  bottom: 0;
  right: 0;
  min-height: 670px;
  max-width: 1400px;
  width: 100%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media all and (max-width: 700px) {
  /* line 1, ../sass/home.scss */
  .homepage__panel {
    min-height: 0;
    height: auto;
    bottom: auto;
  }
}
/* line 13, ../sass/home.scss */
.homepage__panel .rows {
  height: 100%;
}
/* line 16, ../sass/home.scss */
.homepage__panel .colls {
  height: 100%;
}
/* line 19, ../sass/home.scss */
.homepage__panel .coll {
  height: 100%;
}
/* line 22, ../sass/home.scss */
.homepage__panel .coll.left {
  width: 60%;
}
/* line 25, ../sass/home.scss */
.homepage__panel .coll.left .colls {
  height: 40%;
}
/* line 29, ../sass/home.scss */
.homepage__panel .coll.left .coll {
  width: 50%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2OGQxZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTllZTUiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 0 50% 100%, #68d1ff, #619ee5);
  background-image: -webkit-radial-gradient(50% 0 50% 100%, #68d1ff, #619ee5);
  background-image: radial-gradient(50% 0 50% 100%, #68d1ff, #619ee5);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 34, ../sass/home.scss */
.homepage__panel .coll.left .coll.left {
  padding: 20px;
}
/* line 36, ../sass/home.scss */
.homepage__panel .coll.left .coll.left h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 160%;
}
/* line 40, ../sass/home.scss */
.homepage__panel .coll.left .coll * {
  color: #FFF;
}
/* line 45, ../sass/home.scss */
.homepage__panel .coll.right {
  width: 40%;
}
/* line 49, ../sass/home.scss */
.homepage__panel .highlight__1, .homepage__panel .highlight__2 {
  height: 50%;
}
/* line 53, ../sass/home.scss */
.homepage__panel .etalage {
  height: 60%;
}
@media all and (max-width: 700px) {
  /* line 58, ../sass/home.scss */
  .homepage__panel .rows, .homepage__panel .colls, .homepage__panel .coll, .homepage__panel .coll.right, .homepage__panel .coll.left, .homepage__panel .coll.left .coll {
    height: auto;
    width: 100%;
  }
}

/* line 65, ../sass/home.scss */
.coll.right .highlight__1 .center, .coll.right .highlight__2 .center {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media all and (max-width: 700px) {
  /* line 65, ../sass/home.scss */
  .coll.right .highlight__1 .center, .coll.right .highlight__2 .center {
    font-size: 70%;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 72, ../sass/home.scss */
  .coll.right .highlight__1 .center .btn, .coll.right .highlight__2 .center .btn {
    font-size: 130%;
  }
}

/* line 79, ../sass/home.scss */
.coll.right .highlight__1 {
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzViYTZkYSIgc3RvcC1vcGFjaXR5PSIwLjQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(50%, #ffffff), color-stop(50%, rgba(91, 166, 218, 0.4)));
  background-image: -moz-linear-gradient(bottom, #ffffff 50%, rgba(91, 166, 218, 0.4) 50%);
  background-image: -webkit-linear-gradient(bottom, #ffffff 50%, rgba(91, 166, 218, 0.4) 50%);
  background-image: linear-gradient(to top right, #ffffff 50%, rgba(91, 166, 218, 0.4) 50%);
  padding: 20px;
}
/* line 87, ../sass/home.scss */
.coll.right .highlight__1 p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 180%;
  line-height: 1.1em;
}
/* line 91, ../sass/home.scss */
.coll.right .highlight__1 h2 {
  color: #5BA4DC;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 300%;
}

/* line 98, ../sass/home.scss */
.coll.right .highlight__2 {
  background: url(../images/layout/impressie_bg.png) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 20px;
  text-align: center;
}
/* line 102, ../sass/home.scss */
.coll.right .highlight__2 h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 200%;
}
/* line 106, ../sass/home.scss */
.coll.right .highlight__2 * {
  color: #FFF;
}
/* line 110, ../sass/home.scss */
.coll.right .highlight__2 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 120%;
  padding-bottom: 5px;
}

/* line 119, ../sass/home.scss */
.etalage {
  background: url(../images/layout/homepage_sport.png) no-repeat 0 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
/* line 123, ../sass/home.scss */
.etalage * {
  color: #FFF;
}
/* line 126, ../sass/home.scss */
.etalage .center {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 30px;
}
@media all and (max-width: 700px) {
  /* line 126, ../sass/home.scss */
  .etalage .center {
    font-size: 70%;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 133, ../sass/home.scss */
  .etalage .center .btn {
    font-size: 130%;
  }
}
/* line 138, ../sass/home.scss */
.etalage h1 {
  font-size: 280%;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
}
/* line 141, ../sass/home.scss */
.etalage h1:after {
  content: '';
  display: block;
  border-top: solid 1px #FFF;
  width: 40%;
  margin: 20px auto 0 auto;
}
/* line 148, ../sass/home.scss */
.etalage h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  font-size: 200%;
}
/* line 153, ../sass/home.scss */
.etalage p {
  font-size: 130%;
  text-align: center;
}

/* line 1, ../sass/pages.scss */
.post-list {
  overflow: hidden;
}

/* line 5, ../sass/pages.scss */
.post-list article {
  display: inline-block;
  overflow: hidden;
  height: 340px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 30%;
  float: left;
}
/* line 11, ../sass/pages.scss */
.post-list article.row_even {
  width: 35%;
}
/* line 15, ../sass/pages.scss */
.post-list article.row.row_even {
  width: 40%;
}
/* line 18, ../sass/pages.scss */
.post-list article.row.row_odd {
  width: 30%;
}
/* line 22, ../sass/pages.scss */
.post-list article:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(23, 46, 72, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 29, ../sass/pages.scss */
.post-list article:hover:before {
  background: rgba(23, 46, 72, 0.9);
}
@media all and (max-width: 700px) {
  /* line 5, ../sass/pages.scss */
  .post-list article {
    float: none;
    width: 100% !important;
  }
}
/* line 38, ../sass/pages.scss */
.post-list article .post-link {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  text-indent: -999em;
  width: 100%;
  height: 100%;
  z-index: 30;
}
/* line 43, ../sass/pages.scss */
.post-list article.facebook {
  background: url(../images/layout/fb_bg.png) no-repeat top center !important;
}

/* line 48, ../sass/pages.scss */
.post-list article .innerContent {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}
/* line 51, ../sass/pages.scss */
.post-list article .innerContent * {
  color: #FFF;
}
/* line 54, ../sass/pages.scss */
.post-list article .innerContent h2 a {
  font-size: 230%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
}
/* line 57, ../sass/pages.scss */
.post-list article .innerContent p {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 120%;
}
/* line 60, ../sass/pages.scss */
.post-list article .innerContent h2 {
  padding-bottom: 10px;
}

/* line 64, ../sass/pages.scss */
.post-title.page {
  display: none;
}

/* line 68, ../sass/pages.scss */
.post-list article a {
  display: block;
}

/* line 1, ../sass/posts.scss */
.post__header {
  background-position: top center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 400px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
/* line 10, ../sass/posts.scss */
.post__header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(23, 46, 72, 0.4);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 17, ../sass/posts.scss */
.post__header.video {
  height: 450px;
}
/* line 21, ../sass/posts.scss */
.post__header .videoObj {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 33, ../sass/posts.scss */
.post__header * {
  color: #FFF;
}
/* line 37, ../sass/posts.scss */
.post__header h1 {
  font-size: 380%;
}
/* line 41, ../sass/posts.scss */
.post__header p {
  font-size: 150%;
}
/* line 45, ../sass/posts.scss */
.post__header .center {
  position: relative;
  z-index: 3;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 51, ../sass/posts.scss */
div.post-content {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
}
/* line 54, ../sass/posts.scss */
div.post-content h1, div.post-content h2, div.post-content h3, div.post-content h4, div.post-content h5 {
  padding-bottom: 20px;
}
/* line 58, ../sass/posts.scss */
div.post-content h1 {
  font-size: 250%;
}
/* line 61, ../sass/posts.scss */
div.post-content h2 {
  font-size: 220%;
}
/* line 64, ../sass/posts.scss */
div.post-content h3 {
  font-size: 200%;
}
/* line 67, ../sass/posts.scss */
div.post-content h4 {
  font-size: 180%;
}
/* line 70, ../sass/posts.scss */
div.post-content h5 {
  font-size: 150%;
}
/* line 73, ../sass/posts.scss */
div.post-content strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
/* line 77, ../sass/posts.scss */
div.post-content ul, div.post-content ol {
  margin-left: 10px;
  padding-left: 10px;
  list-style-type: disc;
  padding-bottom: 20px;
}
/* line 83, ../sass/posts.scss */
div.post-content ol {
  list-style-type: decimal;
}
/* line 87, ../sass/posts.scss */
div.post-content em {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}

/*# sourceMappingURL=screen.css.map */
