.homepage__panel {
  position: absolute; top: 105px;
  left: 50%; bottom: 0; 
  right: 0; min-height: 650px; max-width: $max_width;
  width: 100%;
  @include transform(translateX(-50%));


  .rows {
    height: 100%;
  }
  .colls {
    height: 100%;
  }
  .coll {
    height: 100%;
  }
  .coll.left {
    width: 60%;

    .colls {
      height: 40%;
    }

    .coll {
      width: 50%;
      //@include background-image(radial-gradient(100% 100%, $color__e 100px, $color__f 30px));
      @include background-image(radial-gradient(100% 100%, $color__g -20%, $color__d 100%));
      background-repeat: no-repeat;

      * {
        color: $color__a;
      }
    }
  }
  .coll.right {
    width: 40%;
  }

  .highlight__1, .highlight__2 {
    height: 50%;
  }

  .etalage {
    height: 60%;
  }
}

.etalage {
  background: url(../images/layout/homepage_sport.png) no-repeat 0 0;
  @include background-size(cover); text-align: center;

  * {
    color: $color__a;
  }
  .center {
    position: relative; top: 50%; @include transform(translateY(-50%));
    padding: 20px 30px;
  }
  h1 {
    font-size: 280%; @include sans-ebi;
    letter-spacing: -0.03em; text-align: center;
    &:after {
      content: ''; display: block;
      border-top: solid 1px $color__a;
      width: 40%; margin: 20px auto 0 auto;
    }
  }

  h2 {
    @include sans-bi;
    text-align: center; font-size: 200%;
  }

  p {
    font-size: 130%; text-align: center;
  }
}