@mixin sans {
  font-family: 'Open Sans', sans-serif;
}
@mixin sansc {
  font-family: 'Open Sans Condensed', sans-serif;
}

@mixin sans-l {
  @include sans;
  font-weight: 300;
}

@mixin sans-m {
  @include sans;
  font-weight: 400;
}
@mixin sans-b {
  @include sans;
  font-weight: 700;
}
@mixin sans-bi {
  @include sans;
  font-style: italic;
  font-weight: 300;
}
@mixin sans-ebi {
  @include sans;
  font-style: italic;
  font-weight: 700; 
}
@mixin sans-c {
  @include sansc;
  font-weight: 300;
}
@mixin sans-cb {
  @include sansc;
  font-weight: 700;
}